.main-content {
  background-color: $color-dark;
  padding-top: 100px;
  padding-bottom: 100px;
}

.youtube-video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // for 16:9 aspect ratio

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

$map-height-lg: 470px;
$map-height-sm: 350px;

.google-map__wrapper {
  max-width: $screen-lg;
  padding: 30px 0;

  .google-map {
    width: 100%;
    height: $map-height-lg;

    @media (max-width: $screen-sm) {
      height: $map-height-sm;
    }
  }
}

.gallery {

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .gallery__item {
    padding: 25px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
