@mixin materialInput () {
  background-image:
          linear-gradient(to top, #1D8B90 2px, rgba(29, 139, 144, 0) 2px),
          linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  background-size: 0 100%, 100% 100%;
  background-repeat: repeat-y;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: background 0s ease-out;

  &:focus {
    outline: 0;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
  }

  .input:disabled,
  .input:disabled:focus {
    background-image: linear-gradient(to right, #CFD0D1 0%, #CFD0D1 30%, transparent 30%, transparent 100%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
  }

  &:-moz-read-only:not(button):not(select) {
    cursor: text;
    background-image:
      linear-gradient(to top, #CFD0D1 2px, rgba(207, 208, 209, 0) 2px),
      linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  }

  &:read-only:not(button):not(select) {
    cursor: text;
    background-image: linear-gradient(to top, #CFD0D1 2px, rgba(207, 208, 209, 0) 2px), linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  }

  select.input:-webkit-autofill {
    box-shadow: inset 0 -1px #F9FFBA, inset 0 -2px #CFD0D1;
  }
  select.input:-webkit-autofill:focus {
    box-shadow: inset 0 -2px #1D8B90;
  }
}

.input {
  @include materialInput();
  border: 0;
  padding: 0.5714em 0;
  min-width: 12em;
  max-width: 100%;
  font-weight: normal;

  &[disabled] {
    color: #D2D2D2;
  }
}

select.input {
  @include materialInput();

  -webkit-appearance: none;
  background-repeat: no-repeat, repeat-y, repeat-y;
  background-size: 20px 20px, 0 100%, 100% 100%;
  border-radius: 0;
  padding-right: 20px;

  &,
  &:-moz-read-only {
    cursor: auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==), linear-gradient(to top, #1D8B90 2px, rgba(29, 139, 144, 0) 2px), linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  }

  &,
  &:read-only {
    cursor: auto;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==), -webkit-linear-gradient(bottom, #1D8B90 2px, rgba(29, 139, 144, 0) 2px), -webkit-linear-gradient(bottom, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==), linear-gradient(to top, #1D8B90 2px, rgba(29, 139, 144, 0) 2px), linear-gradient(to top, #CFD0D1 1px, rgba(207, 208, 209, 0) 1px);
  }
  &:focus {
    background-size: 20px 20px, 100% 100%, 100% 100%;
  }
  &:-moz-read-only:focus {
    background-size: 20px 20px, 100% 100%, 100% 100%;
  }
  &:read-only:focus {
    background-size: 20px 20px, 100% 100%, 100% 100%;
  }
  &:disabled:focus {
    background-size: 20px 20px, 0 100%, 100% 100%;
  }
}
