:root {

}

.nav-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  background-color: $color-dark;
  color: $color-light;

  .navbar {
    list-style: none;
    padding-left: 0;
    margin-left: -5px;
    margin-top: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;

    > .navbar__item {
      padding-left: 5px;
      padding-right: 5px;
      text-transform: uppercase;

      a {
        color: $color-light;
        text-decoration: none;
        display: inline-block;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid $color-light;
        }
      }
    }
  }
}
