:root {}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 ($padding-base-horizontal * 2);
}
