:root {
    --display-parallax: block;
    --display-no-parallax: none;
}

@media screen and (max-width: $screen-sm-min) {
    :root {
        --display-parallax: none;
        --display-no-parallax: block;
    }
}

.parallax {
    display: var(--display-parallax);
    position: relative;
    height: 100vh;
    overflow: hidden;

    &__layer {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: -1;

        &--0 { background-image: url("#{$img-src}/BG.png") }
        &--1 { background-image: url("#{$img-src}/1.png") }
        &--2 { background-image: url("#{$img-src}/2.png") }
        &--3 { background-image: url("#{$img-src}/3.png") }
        &--4 { background-image: url("#{$img-src}/4.png") }
        &--5 { background-image: url("#{$img-src}/5.png") }
        &--6 { background-image: url("#{$img-src}/6.png") }
        &--7 { background-image: url("#{$img-src}/7.png") }
    }
}

.no-parallax {
    display: var(--display-no-parallax);
    background: url("#{$img-src}/full.bg.jpg") no-repeat center top / cover;
    height: 100vh;
}
