@import "tailwindcss";

@theme {
  --color-base: var(--color-stone-800);
  --color-secondary: var(--color-stone-400);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-amber-500);
  --color-info: var(--color-blue-500);
}

@import "./components/common/Button/style.css";
@import "./components/common/Input/style.css";
@import "./components/common/TrelloLink/styles.css";
@import "./components/common/TwoButtonGroup/styles.css";
